.page-user {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 200px;
    z-index: 1;
    top: 74px;
    border-radius: 7px;
    border: 1px solid rgba(255, 0, 0, 0.35);
    overflow: hidden;

    .btn-item-user {
        width: 100%;
        border: none;
        padding: 10px;

        &:hover {
            background: rgba(188, 188, 250, 0.55);
        }
    }
}