.page-language {
    position: absolute;
    width: 100px;
    border-radius: 7px;
    top: 0;
    right: 100px;
    z-index: 1;
    border: 1px solid rgba(255, 0, 0, 0.35);
    overflow: hidden;

    .language-menu {
        width: 100%;
        display: flex;

        .active {
            background-color: #f9bebe !important;
        }

        .btn-item-language {
            width: 100%;
            border: none;
            padding: 10px;

            &:hover {
                background: rgba(188, 188, 250, 0.55);
            }
        }
    }
}