.shop-container {
    display: flex;

    .filter-wrapper {
        min-width: 200px;
        width: 20%;
        max-width: 300px;
        border-right: 1px solid #9c949444
    }

    .content-section {
        flex: 1;

        .sort-filter {
            margin-left: 100px;
            margin-right: 100px;
            display: flex;
            justify-content: space-between;
        }
    }
}