.page-cart {
    max-height: 1400px;
    width: 500px !important;
    position: absolute;
    top: 74px;
    right: 100px;
    z-index: 1;
    border-radius: 7px;
    background-color: rgb(255, 255, 255) !important;
    border: 1px solid rgba(255, 0, 0, 0.35);

    .product {
        .cart-product {
            margin: 10px;
            display: flex;

            .gia {
                margin-left: 50px;
                color: orange;
            }
        }

        img {
            width: 70px;
            height: 80px;
        }
    }
}